{% extends 'lavafed/base.html' %}

{% block title %} - devices{% endblock %}

{% block nav_devices %}active{% endblock %}

{% block body %}
<div class="row">
  <div class="col">
    <h4>Devices</h4>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>name</th>
          <th>type</th>
          <th>lab</th>
          <th>jobs</th>
          <th>acquired</th>
        </tr>
      </thead>
      <tbody>
        {% for device in devices %}
        <tr>
          <td><a href="{% url "device.show" device.lab.name device.name %}">{{ device.name }}</a></td>
          <td><a href="{% url "device_types.show" device.dt.name %}">{{ device.dt.name }}</a></td>
          <td><a href="{% url "labs.show" device.lab.name %}">{{ device.lab.name }}</a></td>
          <td>{{ device.job__count }}</td>
          {% if device.acquired %}
          <td title="Acquired"><i class="text-success far fa-check-circle"></i></td>
          {% else %}
          <td title="Released"><i class="text-danger far fa-circle"></i></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h4>Slaves</h4>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>name</th>
          <th>type</th>
          <th>lab</th>
          <th>jobs</th>
          <th>acquired</th>
        </tr>
      </thead>
      <tbody>
        {% for device in lava_slaves %}
        <tr>
          <td><a href="{% url "device.show" device.lab.name device.name %}">{{ device.name }}</a></td>
          <td><a href="{% url "device_types.show" device.dt.name %}">{{ device.dt.name }}</a></td>
          <td><a href="{% url "labs.show" device.lab.name %}">{{ device.lab.name }}</a></td>
          <td>{{ device.job__count }}</td>
          {% if device.acquired %}
          <td title="Acquired"><i class="text-success far fa-check-circle"></i></td>
          {% else %}
          <td title="Released"><i class="text-danger far fa-circle"></i></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

{% endblock body %}
