{% extends 'lavafed/base.html' %}

{% block nav_home %}active{% endblock %}

{% block style %}
    :root {
      --jumbotron-padding-y: 1rem;
    }
    .jumbotron {
      padding-top: var(--jumbotron-padding-y);
      padding-bottom: var(--jumbotron-padding-y);
      margin-bottom: 0;
      background-color: #fff;
    }
    @media (min-width: 768px) {
      .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
      }
    }
    .jumbotron p:last-child {
      margin-bottom: 0;
    }
    .jumbotron-heading {
      font-weight: 300;
    }
    .jumbotron .container {
      max-width: 40rem;
    }
{% endblock %}

{% block body %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome to LAVA Federation</h1>
    <p class="lead text-muted">LAVA Federation is a project aiming at testing the LAVA software on community owned hardware. The tests are spread across many labs with a variety of hardware.</p>
  </div>
  <div>
    <a href="{% url "versions.show_latest" %}"><img alt="latest version badge" src="{% url "versions.badge_latest" %}"></a>
  </div>
</section>

<div class="row">
  <div class="col">
    <h3>Device-Types</h3>
    <p>LAVA Federation is trying to test as many device-types as possible. We are however limited by the available hardware. If your preferred hardware is not tested, you should participate.</p>
    <p><a class="btn btn-primary my-2" href="{% url "device_types" %}">Device-Types</a></p>
  </div>
  <div class="col">
    <h3>Labs</h3>
    <p>In order to test LAVA, LAVA Federation will use many community labs to run the tests.</p>
    <p><a class="btn btn-primary my-2" href="{% url "labs" %}">Labs</a></p>
  </div>
  <div class="col">
    <h3>Versions</h3>
    <p>LAVA Fedederation is aiming at testing every versions of LAVA, including development versions. For each version, a badge is available to know the overall status.</p>
    <p><a class="btn btn-primary my-2" href="{% url "versions" %}">Versions</a></p>
  </div>
</div>
{% endblock %}
