{% extends 'lavafed/base.html' %}

{% block title %} - lab {{ lab.name }}{% endblock %}

{% block nav_labs %}active{% endblock %}

{% block body %}
<div class="row">
  <div class="col">
    <h4>Devices</h4>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>name</th>
          <th>type</th>
          <th>acquired</th>
        </tr>
      </thead>
      <tbody>
        {% for device in lab.devices %}
        <tr>
          <td><a href="{% url "device.show" device.lab.name device.name %}">{{ device.name }}</a></td>
          <td><a href="{% url "device_types.show" device.dt.name %}">{{ device.dt.name }}</a></td>
          {% if device.acquired %}
          <td title="Acquired"><i class="text-success far fa-check-circle"></i></td>
          {% else %}
          <td title="Released"><i class="text-danger far fa-circle"></i></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h4>Jobs {% if jobs.paginator.num_pages > 1 %}(page {{ jobs.number }} / {{ jobs.paginator.num_pages }}){% endif %}</h4>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>name</th>
          <th>device</th>
          <th>version</th>
          <th>health</th>
          <th>slave</th>
          <th>type</th>
        </tr>
      </thead>
      <tbody>
        {% for job in jobs %}
          {% ifchanged job.version.version %}
          {% if not forloop.first %}
      </tbody>
      <tbody>
          {% endif %}
          {% endifchanged %}
        <tr>
          <td>{{ job.name }}</td>
          <td><a href="{% url "device.show" job.device.lab.name job.device.name %}">{{ job.device.name }}</a></td>
          <td><a href="{% url 'versions.show' job.version.version %}">{{ job.version.version }}</a></td>
          <td title="{{ job.get_health_display }}">
            {% if job.get_health_display == "Unknown" %}
            <i class="text-secondary far fa-question-circle"></i>
            {% elif job.get_health_display == "Complete" %}
            <i class=" text-success fas fa-check-circle"></i>
            {% elif job.get_health_display == "Incomplete" %}
            <i class="text-danger fas fa-exclamation-circle"></i>
            {% else %}
            <i class="text-warning fas fa-ban"></i>
            {% endif %}
          </td>
          <td>{{ job.get_arch_display }}</td>
          <td>{{ job.get_type_display }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% if jobs.has_previous %}
    <a href=".?page={{ jobs.previous_page_number }}{% if "per_pages" in request.GET %}&per_pages={{ request.GET.per_pages }}{% endif %}" class="btn btn-info"><i class="fas fa-backward"></i> Previous</a>
  {% endif %}
  {% if jobs.has_next %}
    <a href=".?page={{ jobs.next_page_number }}{% if "per_pages" in request.GET %}&per_pages={{ request.GET.per_pages }}{% endif %}" class="btn btn-info float-right">Next <i class="fas fa-forward"></i></a>
  {% endif %}
  </div>
</div>

{% endblock body %}
