{% extends 'lavafed/base.html' %}
{% load static %}

{% block title %} - labs{% endblock %}

{% block nav_labs %}active{% endblock %}

{% block style %}
  .canvas {
    width: 50%;
  }
{% endblock %}

{% block body %}
<div class="row">
  <div class="col">
    <h1>Labs</h1>

    <div class="mx-auto canvas">
        <canvas id="canvas"></canvas>
    </div>

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>name</th>
          <th>health</th>
          <th>devices</th>
          <th>jobs</th>
          <th>link</th>
        </tr>
      </thead>
      <tbody>
        {% for lab in labs %}
        <tr>
          <td><a href="{% url "labs.show" lab.name %}">{{ lab.name }}</a></td>
          {% with lab.last_slave.get_health_display as last_health %}
          <td title="last_health">
            {% if last_health == "Unknown" %}
            <i class="text-secondary far fa-question-circle"></i>
            {% elif last_health == "Complete" %}
            <i class=" text-success fas fa-check-circle"></i>
            {% elif last_health == "Incomplete" %}
            <i class="text-danger fas fa-exclamation-circle"></i>
            {% else %}
            <i class="text-warning fas fa-ban"></i>
            {% endif %}
          </td>
          {% endwith %}
          <td>{{ lab.device__count }}</td>
          <td>{{ lab.device__job__count }}</td>
          <td><a href="{{ lab.url }}"><i class="fas fa-link"></i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock body %}

{% block scripts %}
<script src="{% static "lavafed/js/chart-v2.7.2.min.js" %}"></script>
<script>
  var config = {
    type: 'doughnut',
    data: {
      labels: [{% for lab in labs %}"{{ lab.name }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
      datasets: [{
        data: [{% for lab in labs %}{{ lab.device__job__count }}{% if not forloop.last %}, {% endif %}{% endfor %}],
        {% with labs.count as count %}
        backgroundColor: [{% for lab in labs %}"hsl(" + String(({{ forloop.counter }} / {{ count }}) * 100) + ", 75%, 40%)"{% if not forloop.last %}, {%endif %}{% endfor %}],
        {% endwith %}
      }]
    },
    options: {
      responsive: true,
      layout: {
        padding: 5,
      },
      tooltips: {
        mode: 'index',
      },
      hover: {
        mode: 'index'
      },
    }
  };

  window.onload = function() {
    var ctx = document.getElementById('canvas').getContext('2d');
    window.myLine = new Chart(ctx, config);
  };
</script>
{% endblock %}
