{% extends "base.jinja2" %}

{% set features = ["deploy.tmpfs", "boot.qemu", "boot.kexec", "test.definition.inline"] %}

{% set device_type = device_type|default("qemu") %}
{% set job_name = job_name|default("qemu - kexec") %}
{% set job_timeout = job_timeout|default(360) %}

{% block context %}
context:
  arch: amd64
{% endblock context %}

{% block actions %}
- deploy:
    timeout:
      minutes: 6
    to: tmpfs
    images:
        rootfs:
          image_arg: -drive format=raw,file={rootfs}
          url: http://images.validation.linaro.org/kvm/standard/large-stretch-2.img.gz
          compression: gz
    os: debian
    root_partition: 1
- boot:
    method: qemu
    timeout:
      minutes: 2
    media: tmpfs
    prompts:
    - "root@debian:"
    auto_login:
      login_prompt: "login:"
      username: root
- test:
    timeout:
      minutes: 5
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          description: "Install kexec"
          name: install-kexec
        install:
          deps:
          - kexec-tools
      from: inline
      name: install-kexec
      path: inline/install-kexec.yaml
- boot:
    method: kexec
    kernel: /boot/vmlinuz-4.7.0-1-amd64
    initrd: /boot/initrd.img-4.7.0-1-amd64
    command: /sbin/kexec
    kernel-config: /boot/config-4.7.0-1-amd64
    boot_message: Starting new kernel
    options:
    - "--reuse-cmdline"
    auto_login:
      login_prompt: "login:"
      username: root
    prompts:
    - 'root@debian:~#'
{% endblock actions %}
