{% extends "base.jinja2" %}

{% set features = ["deploy.tftp", "boot.bootloader.u-boot", "test.interactive"] %}

{% set device_type = device_type|default("beaglebone-black") %}
{% set job_name = job_name|default("beaglebone-black - interactive") %}
{% set job_timeout = job_timeout|default(600) %}

{% block actions %}
- deploy:
    timeout:
      minutes: 4
    to: tftp
    kernel:
      url: http://images.validation.linaro.org/snapshots.linaro.org/components/lava/standard/debian/jessie/armhf/4/vmlinuz
      type: zimage
- boot:
    method: bootloader
    bootloader: u-boot
    prompts: ["U-Boot# "]
    timeout:
      minutes: 3
    commands: []
- test:
    timeout:
      minutes: 4
    interactive:
    - name: basic-cmds
      prompts: ["=> ", "U-Boot# "]
      script:
      - command: echo "u-boot echo test"
        name: echo
        successes:
        - message: "u-boot echo test"
      - command: version
        name: version
        successes:
        - message: "U-Boot"
      - command: help test
        name: help
        successes:
        - message: "test - minimal test like /bin/sh"
      # saveenv and printenv
      - command: setenv test_var test123printenv
      - command: printenv
        name: setenv-and-printenv
        successes:
        - message: "test_var=test123"
    - name: dhcp-cmds
      prompts: ["=> ", "U-Boot# "]
      script:
      # dhcp
      - command: setenv autoload no ; dhcp
        name: dhcp
        successes:
        - message: "DHCP client bound to address"
    - name: tftp-cmds
      prompts: ["=> ", "U-Boot# "]
      script:
      # TFTP
      - command: setenv serverip {SERVER_IP} ; tftp {KERNEL_ADDR} {KERNEL}
        name: tftp
        successes:
        - message: "Bytes transferred ="
{% endblock actions %}
