device_type: {{ device_type }}
job_name: "[lavafed {{ slave_version }}] {{ job_name }}"
priority: medium

timeouts:
  job:
    seconds: {{ job_timeout }}
{% block action_timeouts %}{% endblock %}
{%- if job_visibility|default(None) %}
visibility:
  group:
  - {{ job_visibility }}
{% else %}
visibility: public
{% endif %}

{% if tags -%}
tags:
{% for tag in tags -%}
- {{ tag }}
{% endfor %}
{% endif -%}

{% set available_features = {
    "deploy.docker": {"name": "deploy.docker", "type": "device", "description": "Deploy to docker", "action": "deploy"},
    "deploy.flasher": {"name": "deploy.flasher", "type": "device", "description": "Deploy using a flashing tool", "action": "deploy"},
    "deploy.transfer_overlay": {"name": "deploy.transfer_overlay", "type": "device", "description": "Use transfer_overlay command", "action": "deploy"},
    "deploy.tftp": {"name": "deploy.tftp", "type": "device", "description": "Deploy to tftp", "action": "deploy"},
    "deploy.tmpfs": {"name": "deploy.tmpfs", "type": "device", "description": "Deploy to tmpfs", "action": "deploy"},
    "boot.bootloader.u-boot": {"name": "boot.bootloader.u-boot", "type": "device", "description": "Boot to u-boot", "action": "boot"},
    "boot.docker": {"name": "boot.docker", "type": "device", "description": "Boot docker", "action": "boot"},
    "boot.grub.nfs": {"name": "boot.grub.nfs", "type": "device", "description": "Boot from grub with an nfs rootfs", "action": "boot"},
    "boot.grub.ramdisk": {"name": "boot.grub.ramdisk", "type": "device", "description": "Boot from grub with a ramdisk", "action": "boot"},
    "boot.ipxe.ramdisk": {"name": "boot.ipxe.ramdisk", "type": "device", "description": "Boot from ipxe with a ramdisk", "action": "boot"},
    "boot.kexec": {"name": "boot.kexec", "type": "device", "description": "Boot after a kexec call", "action": "boot"},
    "boot.minimal": {"name": "boot.minimal", "type": "device", "description": "Non-interactive boot", "action": "boot"},
    "boot.qemu": {"name": "boot.qemu", "type": "device", "description": "Boot qemu", "action": "boot"},
    "boot.u-boot.fit": {"name": "boot.u-boot.fit", "type": "device", "description": "Boot from u-boot with a fit image", "action": "boot"},
    "boot.u-boot.nfs": {"name": "boot.u-boot.nfs", "type": "device", "description": "Boot from u-boot with an nfs rootfs", "action": "boot"},
    "boot.u-boot.ramdisk": {"name": "boot.u-boot.ramdisk", "type": "device", "description": "Boot from u-boot with a ramdisk", "action": "boot"},
    "test.definition.git": {"name": "test.definition.git", "type": "device", "description": "Test definition from git", "action": "test"},
    "test.definition.inline": {"name": "test.definition.inline", "type": "device", "description": "Inline test definition", "action": "test"},
    "test.interactive": {"name": "test.interactive", "type": "device", "description": "Interactive test", "action": "test"},
    "master-slave": {"name": "master-slave", "type": "generic", "description": "master-slave protocol", "action": "None"},
} -%}

metadata:
    device.name: "{{ device_name }}"
    device.type: "{{ metadata_dt|default(device_type) }}"
    job.url: "{{ job_url }}"
    job.name: "{{ job_name }}"
    job.type: "{{ job_type|default("test") }}"
    lab.name: "{{ lab_name }}"
    slave.arch: "{{ slave_arch }}"
    slave.version: "{{ slave_version }}"
{%- if features|default([]) %}
{%- for feature in features %}
    features.{{ loop.index0 }}.name: "{{ available_features[feature]["name"] }}"
    features.{{ loop.index0 }}.type: "{{ available_features[feature]["type"] }}"
    features.{{ loop.index0 }}.description: "{{ available_features[feature]["description"] }}"
    features.{{ loop.index0 }}.action: "{{ available_features[feature]["action"] }}"
{%- endfor %}
{%- endif %}

notify:
  criteria:
    status: finished
  callback:
    url: "{{ api_url }}"
    token: "{{ api_token }}"
    method: POST
    dataset: all
    content-type: json

{% block context %}{% endblock context %}

actions:{% block actions %}{% endblock actions %}
