{% extends "base.jinja2" %}

{% set features = ["master-slave"] %}

{% set device_name = "lava-slave" %}
{% set device_type = "docker" %}
{% set job_name = "lava-slave" %}
{% set job_type = "slave" %}
{% set job_visibility = "lavafed" %}
{% set metadata_dt = "lava-slave" %}
{% set tags = tags|default([]) %}

{% block actions %}
- deploy:
    to: docker
    os: debian
    image: hub.lavasoftware.org/lava/lava/{{ slave_arch }}/lava-dispatcher:{{ docker_version }}
    timeout:
      minutes: 4
- boot:
    command: bash
    method: docker
    prompts:
    - 'root@lava:'
    timeout:
      minutes: 2
- test:
    definitions:
    - from: inline
      name: lava-slave
      path: lava-slave.yaml
      repository:
        metadata:
          name: lava-slave
        run:
          steps:
{%- if pre_run_commands|default([]) %}
          - "{{ pre_run_commands|join(' || lava-test-raise setup failed"\n          - "') }}"
{%- endif %}
          - ". ../../../secrets"
          - "mkdir -p /var/lib/lava/dispatcher/worker/"
          - "/bin/echo $WORKER_TOKEN > /var/lib/lava/dispatcher/worker/token"
          - "lava-test-case lava-worker --shell /usr/bin/timeout --preserve-status {{ timeout }} /usr/bin/lava-worker --name {{ lab_name }} --log-file - --level DEBUG  --url https://federation.lavasoftware.org/lava/"
    timeout:
      seconds: {{ job_timeout }}

secrets:
  WORKER_TOKEN: "{{ worker_token }}"
{% endblock actions %}
