{% extends "base.jinja2" %}

{% set features = ["deploy.tftp", "boot.u-boot.ramdisk", "test.definition.git"] %}

{% set device_type = device_type|default("b2260") %}
{% set job_name = job_name|default("b2260 - health-check") %}
{% set job_timeout = job_timeout|default(600) %}

{% block actions %}
- deploy:
    timeout:
      minutes: 4
    to: tftp
    kernel:
      url: https://images.validation.linaro.org/builds.96boards.org/snapshots/b2260/linaro/debian/21/uImage
      type: uimage
    ramdisk:
      url: http://images.validation.linaro.org/storage.kernelci.org/images/rootfs/buildroot/armel/rootfs.cpio.gz
      compression: gz
    os: debian
    dtb:
      url: https://images.validation.linaro.org/builds.96boards.org/snapshots/b2260/linaro/debian/21/stih410-b2260.dtb
- boot:
    method: u-boot
    commands: ramdisk
    prompts:
    - 'linaro-test'
    - 'root@debian:~#'
    - '/ #'
- test:
    timeout:
      minutes: 5
    definitions:
    - repository: http://git.linaro.org/lava-team/lava-functional-tests.git
      from: git
      path: lava-test-shell/smoke-tests-basic.yaml
      name: smoke-tests
{% endblock actions %}
