{% extends "base.jinja2" %}

{% set features = ["deploy.tftp", "boot.u-boot.ramdisk"] %}

{% set device_type = device_type|default("bcm2837-rpi-3-b") %}
{% set job_name = job_name|default("bcm2837-rpi-3-b - health-check") %}
{% set job_timeout = job_timeout|default(600) %}

{% block context %}
context:
  console_device: "ttyS1"
{% endblock %}

{% block actions %}
- deploy:
    timeout:
      minutes: 2
    to: tftp
    kernel:
      url: http://ironhide.bounceme.net/health-checks/bcm2837-rpi-3-b/Image
      type: image
    ramdisk:
      url: http://ironhide.bounceme.net/health-checks/bcm2837-rpi-3-b/rootfs.cpio.gz
      compression: gz
    modules:
      url: http://ironhide.bounceme.net/health-checks/bcm2837-rpi-3-b/modules.tar.xz
      compression: xz
    dtb:
      url: http://ironhide.bounceme.net/health-checks/bcm2837-rpi-3-b/bcm2837-rpi-3-b.dtb
    os: oe
- boot:
    timeout:
      minutes: 5
    method: u-boot
    commands: ramdisk
    prompts:
      - 'linaro-test'
      - 'root@debian:~#'
      - '/ #'
{% endblock actions %}
