{% extends "base.jinja2" %}

{% set features = ["deploy.docker", "boot.docker", "test.definition.git"] %}

{% set device_type = device_type|default("docker") %}
{% set job_name = job_name|default("docker - health-check") %}
{% set job_timeout = job_timeout|default(600) %}

{% block actions %}
- deploy:
    to: docker
    image: debian:stretch-backports
    timeout:
      minutes: 4
- boot:
    command: bash
    method: docker
    prompts:
    - "root@lava:/#"
    timeout:
      minutes: 2
- test:
    timeout:
      minutes: 5
    definitions:
    - repository: http://git.linaro.org/lava-team/lava-functional-tests.git
      from: git
      path: lava-test-shell/smoke-tests-basic.yaml
      name: smoke-tests 
{% endblock actions %}
