{% extends "base.jinja2" %}

{% set features = ["deploy.tftp", "boot.u-boot.ramdisk"] %}

{% set device_type = device_type|default("jetson-tk1") %}
{% set job_name = job_name|default("jetson-tk1 - health-check") %}
{% set job_timeout = job_timeout|default(600) %}

{% block actions %}
- deploy:
   timeout:
     minutes: 2
   to: tftp
   kernel:
       url: http://ironhide.bounceme.net/health-checks/jetson-tk1/zImage
       type: zimage
   ramdisk:
       url: http://ironhide.bounceme.net/health-checks/jetson-tk1/rootfs.cpio.gz
       compression: gz
   modules:
       url: http://ironhide.bounceme.net/health-checks/jetson-tk1/modules.tar.xz
       compression: xz
   dtb:
       url: http://ironhide.bounceme.net/health-checks/jetson-tk1/tegra124-jetson-tk1.dtb
   os: oe
- boot:
   timeout:
     minutes: 5
   method: u-boot
   commands: ramdisk
   prompts:
     - 'linaro-test'
     - 'root@debian:~#'
     - '/ #'
{% endblock actions %}
