{% extends "base.jinja2" %}

{% set features = ["deploy.tmpfs", "boot.qemu"] %}

{% set device_type = device_type|default("qemu-aarch64") %}
{% set job_name = job_name|default("qemu-aarch64 - health-check") %}
{% set job_timeout = job_timeout|default(600) %}

{% block context %}
context:
  arch: aarch64
  extra_options:
  - -smp
  - 1
  - -global
  - virtio-blk-device.scsi=off
  - -device virtio-scsi-device,id=scsi
  - --append "console=ttyAMA0 root=/dev/vda rw" 
{% endblock context %}

{% block actions %}
- deploy:
    timeout:
      minutes: 5
    to: tmpfs
    images:
      kernel:
        image_arg: -kernel {kernel}
        url: https://files.lavasoftware.org/components/lava/standard/debian/sid/arm64/2/vmlinuz-4.6.0-1-arm64
        sha256sum: 714e9669883f4705f3358d11a61cd601e4c938006cbfef0f785a65f3f8f74896
      initrd:
        image_arg: -initrd {initrd}
        url: https://files.lavasoftware.org/components/lava/standard/debian/sid/arm64/2/initrd.img-4.6.0-1-arm64
        sha256sum: 4fb2e63d796729e03b6c5ed3f8e5c0ee2ffe94ea5ded800c508d53c303591972
- boot:
    method: qemu
    media: tmpfs
    prompts:
    # escape the brackets to ensure that the prompt does not match
    # kernel debug lines which may mention initramfs
    - '\(initramfs\)'
{% endblock actions %}
