{% extends "base.jinja2" %}

{% set features = ["deploy.tmpfs", "boot.qemu", "test.definition.git", "test.definition.inline"] %}

{% set device_type = device_type|default("qemu") %}
{% set job_name = job_name|default("qemu - health-check") %}
{% set job_timeout = job_timeout|default(360) %}

{% block context %}
context:
  arch: amd64
{% endblock context %}

{% block actions %}
- deploy:
    timeout:
      minutes: 6
    to: tmpfs
    images:
        rootfs:
          image_arg: -drive format=raw,file={rootfs}
          url: http://images.validation.linaro.org/kvm/standard/large-stretch-2.img.gz
          compression: gz
    os: debian
    root_partition: 1
- boot:
    method: qemu
    timeout:
      minutes: 2
    media: tmpfs
    prompts:
    - "root@debian:"
    auto_login:
      login_prompt: "login:"
      username: root
- test:
    timeout:
      minutes: 5
    definitions:
    - repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: smoke-tests-basic
          description: "Basic system test command for Linaro Ubuntu images"
        run:
          steps:
          - printenv
      from: inline
      name: env-dut-inline
      path: inline/env-dut.yaml
    - repository: http://git.linaro.org/lava-team/lava-functional-tests.git
      from: git
      path: lava-test-shell/smoke-tests-basic.yaml
      name: smoke-tests
    - repository: http://git.linaro.org/lava-team/lava-functional-tests.git
      from: git
      path: lava-test-shell/single-node/singlenode03.yaml
      name: singlenode-advanced
{% endblock actions %}
