{% extends "base.jinja2" %}

{% set features = ["deploy.tmpfs", "boot.qemu"] %}

{% set device_type = device_type|default("qemu") %}
{% set job_name = job_name|default("qemu-armv7 - health-check") %}
{% set job_timeout = job_timeout|default(600) %}

{% block context %}
context:
  arch: arm
  cpu: cortex-a15
  guestfs_interface: virtio
{% endblock context %}

{% block actions %}
- deploy:
    timeout:
      minutes: 3
    to: tmpfs
    os: oe
    images:
      kernel:
        image_arg: '-kernel {kernel} -append "console=ttyAMA0,115200 root=/dev/ram0 debug verbose"'
        url: http://ironhide.bounceme.net/health-checks/qemu/zImage
      ramdisk:
        image_arg: '-initrd {ramdisk}'
        url: http://ironhide.bounceme.net/health-checks/qemu/rootfs.cpio.gz
- boot:
    timeout:
      minutes: 5
    method: qemu
    media: tmpfs
    prompts:
      - '/ #'
{% endblock actions %}
