{% extends "base.jinja2" %}

{% set features = ["deploy.tftp", "boot.u-boot.fit", "test.definition.git"] %}

{% set device_type = device_type|default("rzn1d") %}
{% set job_name = job_name|default("rzn1d - health-check") %}
{% set job_timeout = job_timeout|default(600) %}

{% block actions %}
- deploy:
    timeout:
      minutes: 5
    to: tftp
    kernel:
      url: http://images.validation.linaro.org/snapshots.linaro.org/openembedded/schneider/linaro-sumo/rzn1d/38/dip/fitImage-1.0-r0-rzn1-snarc.itb
      type: uimage
- boot:
    timeout:
      minutes: 10
    method: u-boot
    commands: fit
    auto_login:
      login_prompt: 'login:'
      username: root
      password_prompt: "Password:"
      password: "P@ssword-1"
      login_commands:
      - P@ssword-1
      - azertAZERT12345
      - azertAZERT12345
      - azertAZERT12345
    prompts:
    - "Current password: "
    - "New password: "
    - "Retype new password: " 
    - "root@rzn1-snarc:"
    transfer_overlay:
      download_command: unset http_proxy ; dhclient eth1 ; cd /tmp ; wget
      unpack_command: tar -C / -xzf
- test:
    timeout:
      minutes: 5
    definitions:
    - repository: http://git.linaro.org/lava-team/lava-functional-tests.git
      from: git
      path: lava-test-shell/smoke-tests-basic.yaml
      name: smoke-tests 
{% endblock actions %}
