{% extends "base.jinja2" %}

{% set features = ["deploy.tftp", "boot.grub.nfs", "test.definition.git"] %}

{% set device_type = device_type|default("synquacer") %}
{% set job_name = job_name|default("synquacer - health-check") %}
{% set job_timeout = job_timeout|default(900) %}

{% block context %}
context:
  boot_character_delay: 1
{% endblock context %}

{% block actions %}
- deploy:
    timeout:
      minutes: 10
    to: tftp
    kernel:
      url: http://images.validation.linaro.org/synquacer/hc/vmlinuz
      type: zimage
    nfsrootfs:
      url: http://images.validation.linaro.org/synquacer/hc/rootfs.tar.xz
      compression: xz
      prefix: binary/
    ramdisk:
      url: http://images.validation.linaro.org/synquacer/hc/initrd.img
      compression: gz
    os: debian
- boot:
    timeout:
      minutes: 15
    method: grub
    commands: nfs
    parameters:
      shutdown-message: "reboot: Restarting system"
    auto_login:
      login_prompt: 'login:'
      username: root
      password_prompt: 'Password:'
      password: Linaro123
    prompts:
    - 'root@linaro-test:'
- test:
    failure_retry: 3
    timeout:
      minutes: 5
    definitions:
    - repository: http://git.linaro.org/lava-team/lava-functional-tests.git
      from: git
      path: lava-test-shell/smoke-tests-basic.yaml
      name: smoke-tests
{% endblock actions %}
