{% extends "base.jinja2" %}

{% set features = ["deploy.tftp", "boot.grub.ramdisk"] %}

{% set device_type = device_type|default("synquacer-dtb") %}
{% set job_name = job_name|default("synquacer-dtb - health-check") %}
{% set job_timeout = job_timeout|default(600) %}

{% block actions %}
- deploy:
    timeout:
      minutes: 2
    to: tftp
    kernel:
      url: http://ironhide.bounceme.net/health-checks/synquacer/Image
      type: image
    ramdisk:
      url: http://ironhide.bounceme.net/health-checks/synquacer/rootfs.cpio.gz
      compression: gz
    modules:
      url: http://ironhide.bounceme.net/health-checks/synquacer/modules.tar.xz
      compression: xz
    os: oe
- boot:
    timeout:
      minutes: 5
    method: grub
    commands: ramdisk
    prompts:
      - '/ #'
{% endblock actions %}
