{% extends "base.jinja2" %}

{% set features = ["deploy.tftp", "boot.ipxe.ramdisk", "test.definition.git"] %}

{% set device_type = device_type|default("x86") %}
{% set job_name = job_name|default("x86 - health-check") %}
{% set job_timeout = job_timeout|default(900) %}

{% block actions %}
- deploy:
    timeout:
      minutes: 2
    to: tftp
    kernel:
      url: http://images.validation.linaro.org/x86/ubuntu/vmlinuz-3.10-rc7-amd64
    ramdisk:
      url: http://images.validation.linaro.org/x86/ubuntu/ubuntu-precise-3.10-networking.gz
      compression: gz
    os: ubuntu
- boot:
    timeout:
      minutes: 8
    method: ipxe
    commands: ramdisk
    parameters:
      shutdown-message: "reboot: Restarting system"
    prompts:
    - 'root@master:'
- test:
    timeout:
      minutes: 2
    definitions:
    - repository: http://git.linaro.org/lava-team/lava-functional-tests.git
      from: git
      path: lava-test-shell/smoke-tests-basic.yaml
      name: smoke-tests
{% endblock actions %}
